@media (max-width: 1550px) {
  :root {
    --h1: 3.75em;
    --h2: 3em;
    --h3: 2em;
    --h4: 1.25em;
    --link: 1.125em;
    --text: 1em;
  }
  .header__title-h1 {
    max-width: 20vw;
  }
}

@media (max-width: 1320px) {
  .header__nav {
    justify-content: left;
  }
  .header__nav a {
    margin-left: 10%;
  }
  .header__title {
    top: 20%;
  }
  .header__title-h1 {
    max-width: 22vw;
  }
  .header__title,
  .about__title,
  .about__text {
    left: 10%;
  }
}

@media (max-width: 1200px) {
  .about__title {
    top: 110%;
  }
  .about__text {
    top: 115%;
  }
}
@media (max-width: 1100px) {
  :root {
    --h1: 3em;
    --h2: 3em;
    --h3: 2em;
    --h4: 1.25em;
    --link: 1.125em;
    --text: 1em;
  }
  .header__nav a {
    margin-left: 5%;
  }
  .header__title,
  .about__title,
  .about__text {
    left: 5%;
  }
  .header__title-p {
    max-width: 40vw;
  }
  .about__text {
    width: 50vw;
  }
}
@media (max-width: 950px) {
  :root {
    --h1: 2.25em;
    --h2: 2.25em;
    --h3: 2em;
    --h4: 1.25em;
    --link: 1em;
    --text: 0.875em;
  }
  .header__title,
  .about__title,
  .about__text {
    left: 10%;
  }
  .launches__layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .follow {
    max-width: 90vw;
    flex-wrap: wrap;
  }
  .follow a {
    margin-top: 2%;
  }
}
@media (max-width: 725px) {
  .header__title,
  .about__title,
  .about__text {
    left: 5%;
  }
  .header__title-h1 {
    max-width: 25vw;
    font-size: var(--h4);
  }
}
@media (max-width: 640px) {
  .header__title,
  .about__title,
  .about__text {
    left: 5%;
  }
  .header__title-h1 {
    max-width: 25vw;
    font-size: var(--h4);
  }
  .webp .about {
    background-position: left;
    overflow-y: hidden;
  }
  .about__title {
    top: 105%;
  }
  .about__text {
    top: 110%;
  }
  .launches__layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .launches__title {
    font-size: var(--h1);
  }
  .launches__subtitle {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .header__nav img {
    width: 100px;
    height: 25px;
  }
  .header__title-h1 {
    max-width: 50vw;
  }
  .header__title-p {
    max-width: 60vw;
    padding-bottom: 5px;
  }
  .about__text {
    width: 60vw;
  }
  .launches__subtitle {
    width: 250px;
    margin: 0 auto;
  }
  .modal__window {
    width: 200px;
  }
  .follow {
    margin: 0 auto;
  }
  .follow a:not(:first-child) {
    margin-left: 5%;
  }
}
