:root {
  --dark_text: #282a33;
  --light_dark: #404248;
  --white: #fff;
  --link_hover: #3c99cd;
  --black: #000;
  --h1: 4.5em;
  --h2: 3.25em;
  --h3: 2em;
  --h4: 1.5em;
  --link: 1.25em;
  --text: 1.125em;
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
}

body {
  font-family: "Trispace", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: var(--white);
  background-color: #000;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("./img/bg_3.jpg") no-repeat top center/ cover;
}

.header__nav {
  height: 10vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  position: fixed;
}

.header__nav a {
  cursor: pointer;
  font-size: var(--text);
  font-weight: var(--semi-bold);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  align-self: center;
  transition: 0.2s;
}

.header__nav a:hover {
  color: var(--link_hover);
}

.header__nav-link img {
  width: 200px;
  height: 50px;
}

.header__title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20em 0 0 20em;
}

.header__title-p {
  width: 25vw;
  font-size: 18px;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

.about {
  display: flex;
  flex-direction: column;
  height: 110vh;
  background-color: var(--black);
  background: url("./img/about_1.jpg") no-repeat top center/ cover;
}

.about__title {
  width: 50vw;
  padding: 5em 0 2em 13em;
}

.about__text {
  width: 30vw;
  line-height: 1.5em;
  padding: 0 0 0 19.5em;
}

.about__link {
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
  padding: 2em 0 0 15.5em;
}

.launches {
  height: 2vh;
  background-color: var(--black);
}

.launches__title {
  display: flex;
  font-size: 50px;
  justify-content: center;
  padding-top: 2em;
}

.launchesEl {
  background-color: #000;
}

.launch__container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 25vh;
  background: var(--white);
  border-radius: 10px;
  margin-top: 20px;
}

.launch__info {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: var(--black);
}

.launch__img {
  display: flex;
  width: 10%;
  height: 100%;
  background: rgb(67, 224, 101);
}
